footer {
    height: 30px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    letter-spacing: 1.5px;
    justify-content: center;
    align-items: center;
    font-family: VT323, monospace;
    background: linear-gradient(to right, #2a0845, #6441A5); 
  }